<h4>Banka Transferi Nasıl Çalışır?</h4>
<b>Adımlar:</b>
<ol>
  <li>Verilen hesaplardan birine tutarı yatırın. Paranızı yatırırken açıklama kısmına adınızı, tc kimlik numaranızı, telefon numaranızı havale ederken açıklama kısmına giriniz.
    <% if (banks = Spree::Bank.active).any? %>
      <div style="padding:20px 0">
      <table border="1" align='center' width="80%">
        <tr>
          <th><%= Spree.t(:bank_name) %></th>
          <th><%= Spree.t(:account_no) %></th>
          <th><%= Spree.t(:additional_details) %></th>
        </tr>
        <% banks.each do |bank| %>
          <tr>
            <td><center><%= bank.name %></center></td>
            <td><center><%= bank.account_no %></center></td>
            <td><center><%= bank.additional_details %></center></td>
          </tr>
        <% end %>
      </table>
      </div>
    <% end %>
  </li>
  <li>Havalenizi yaptıktan sonra Sipariş Detay sayfanıza havale referans kodunu giriniz:
    <ol style="padding:10px 0 0 20px" type='a'>
      <li>Hesabım sayfasına giriniz.</li>
      <li>Sipariş detayına giriniz.</li>
      <li>Ödeme bilgisi kısmında "Transfer Bilgisi Ekle" bağlantısına tıklayınız.</li>
      <li>Bilgilerinizi doldurup "Gönder" e tıklayınız.</li>
      <br><br>
    </ol>
  </li>
</ol>
